<div id="index-container">
  <div class="video-background">
      <div class="video-foreground">
        <iframe src="https://www.youtube.com/embed/ddFvjfvPnqk?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <div class="greg-desc">
      <h1>GREGORY MCGOUGH</h1>
      <h3>Full Stack Web Developer</h3>
      <h3>San Diego, CA</h3>
    </div>

    <div class="vid-desc">
      Please enjoy this live stream from <br> the International Space Station!
    </div>
</div>
