
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-lg-2">
        <nav class="navbar navbar-inverse left navbar-fixed-side">
          <div class="one">
            <button type="button" class="1 btn btn-default navbar-btn" name="button">Home</button>
          </div>
          <div class="one">
            <button type="button" class="2 btn btn-default navbar-btn" name="button">Teleport</button>
          </div>
          <div class="one">
            <button type="button" class="3 btn btn-default navbar-btn" name="button">Teleport Gallery</button>
          </div>
        </nav>
      </div>

      <div class="col-sm-6 col-lg-8">
        <section class="container">
          <div id="cube">
            <figure class="front">
              <img src="/assets/lizano-home.png" alt="pic" width="525" height="300">
              <img class="page-description" src="/assets/Landing description.png" alt="pic" width="525" height="225">
            </figure>
            <figure class="back">
              <img src="/assets/teleport-lizano.png" alt="pic" width="525" height="300">
              <img class="page-description" src="/assets/tele-description.png" alt="pic" width="525" height="225">
            </figure>
            <figure class="right">
              <img src="/assets/lizano-teleport-gallery.png" alt="pic" width="525" height="300">
              <img class="page-description" src="/assets/tele-description.png" alt="pic" width="525" height="225">
            </figure>
            <figure class="left">
              <img src="/assets/edit-galleries-lizano.png" alt="pic" width="525" height="300">
              <img class="page-description" src="/assets/tele-description.png" alt="pic" width="525" height="225">
            </figure>
            <figure class="top">
              <img src="/assets/edit-photos-lizano.png" alt="pic" width="525" height="300">
              <img class="page-description" src="/assets/tele-description.png" alt="pic" width="525" height="225">
            </figure>
            <figure class="bottom">
              <img src="/assets/about-lizano.png" alt="pic" width="525" height="300">
              <img class="page-description" src="/assets/tele-description.png" alt="pic" width="525" height="225">
            </figure>
          </div>
        </section>
      </div>

      <div class="col-sm-3 col-lg-2">
      <nav class="navbar navbar-inverse right navbar-fixed-side">
        <div class="one">
          <button type="button" class="4 btn btn-default navbar-btn" name="button">Edit Galleries</button>
        </div>
        <div class="one">
          <button type="button" class="5 btn btn-default navbar-btn" name="button">Edit Photos</button>
        </div>
        <div class="one">
          <button type="button" class="6 btn btn-default navbar-btn" name="button">About Me</button>
        </div>
      </nav>
    </div>
    </div>
  </div>
