html {
  max-width: 960px;
  margin: auto;
}

* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

body {
  background-color: inherit;
}

#index-container {
    background-image: image-url('greg_profile_pic.png');
}

.page-description {
  height: 225px;
  width: 525px;
  border: 2px solid black;
  margin-top: -150.5%;
}

.nav {
  text-align: center;
}
.navbar-fixed-side {
  height: 100vh;
  z-index: 1;
}
/*
.left {
  margin-left: -20px;
}

.right {
  margin-right: 20px;
}*/

.btn {
  z-index: 10;
}

img {
  margin-top: -258px;
  margin-left: -2px;
}

.one {
    /*border: 2px solid white;*/
    height: 33vh;
    text-align: center;
    padding: 5%;
}

.container {
  width: 525px;
  height: 525px;
  position: relative;
  -webkit-perspective: 1000px;
  margin-top: 12px;
  margin-left: 15%;
  z-index: 2;
}
#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  margin-left: -55px;
  margin-top: 30px;
}

#cube figure {
    display: block;
    position: absolute;
    width: 525px;
    height: 525px;
    border: 2px solid black;
    line-height: 525px;
    font-size: 120px;
    font-weight: bold;
    color: white;
    text-align: center;
    /*-webkit-backface-visibility: hidden;*/
}

figure {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
    margin: 0;
    /*margin: auto;*/
    /*margin-left: 13%;*/
}

#cube .front {
    /*background: red;*/
}

#cube .back {
    background: green;
}
#cube .right {
    background: blue;
}
#cube .left {
    background: yellow;
}
#cube .top {
    background: orange;
}
#cube .bottom {
    background: violet;
}
#cube .front  { transform: rotateY(   0deg ) translateZ( 262px ); }
#cube .back   { transform: rotateX( 180deg ) translateZ( 262px ); }
#cube .right  { transform: rotateY(  90deg ) translateZ( 262px ); }
#cube .left   { transform: rotateY( -90deg ) translateZ( 262px ); }
#cube .top    { transform: rotateX(  90deg ) translateZ( 262px ); }
#cube .bottom { transform: rotateX( -90deg ) translateZ( 262px ); }

#cube { transform: translateZ( -100px ); }

#cube.show-front  { transform: translateZ( -100px ) rotateY(    0deg ); }
#cube.show-back   { transform: translateZ( -100px ) rotateX( -180deg ); }
#cube.show-right  { transform: translateZ( -100px ) rotateY(  -90deg ); }
#cube.show-left   { transform: translateZ( -100px ) rotateY(   90deg ); }
#cube.show-top    { transform: translateZ( -100px ) rotateX(  -90deg ); }
#cube.show-bottom { transform: translateZ( -100px ) rotateX(   90deg ); }

#cube { transition: transform 1s; }
