<!DOCTYPE html>
<html>
  <head>
    <title>Gregory McGough</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <section class="container">
    <div id="cube">
      <figure class="front">1</figure>
      <figure class="back">2</figure>
      <figure class="right">3</figure>
      <figure class="left">4</figure>
      <figure class="top">5</figure>
      <figure class="bottom">6</figure>
    </div>
  </section><br>

  <button type="button" class="1" name="button">1</button>
  <button type="button" class="2" name="button">2</button>
  <button type="button" class="3" name="button">3</button>
  <button type="button" class="4" name="button">4</button>
  <button type="button" class="5" name="button">5</button>
  <button type="button" class="6" name="button">6</button>


</html>
